:root {
  --neversink-title-font: 'Reforma 2018', sans-serif;
  --neversink-main-font: 'Reforma 2018', sans-serif;
  --neversink-mono-font: 'FantasqueSansM Nerd Font Mono', monospace;
  --neversink-quote-font: 'FantasqueSansM Nerd Font Mono', monospace;
}

